@import "tailwindcss";
@theme {
    --info-green: #C1C58D;
    --info-bg: #CBCDB7;

    --diebstahl-gelbsatt: #feb109;
    --diebstahl-hg: #ffe8d1;
    --diebstahl-blau: #0093b1;
    --diebstahl-orange: #ff8c07;
    --diebstahl-irgendwas: #c28500;
    --diebstahl-sidebar: #ffd360;

}

html, body, #root {
  height: 100%;
  font-size:20px;
}

body{
    scroll-behaviour: smooth;
}

@font-face {
    font-family: 'Jost';
    src: url('/fonts/Jost-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Jost-Bold';
    src: url('/fonts/Jost-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

p, h1, h2, h3, h4, h5, h6, p{
    max-width:65ch;
}

h1{

}
h2{

    }
    h3{

}

nav a.active{
    border-bottom: 2px solid black;
    color: black;
}
nav a:hover{
    border-bottom:1px solid black;
}

.sidebar a[href].sidebarLink{ 
    text-decoration: none;
    font-weight: 400;
    @apply text-black;
}

.brutal-shadow {
    box-shadow: 2px 2px 0 0 #1e2939;
}

path{
    stroke:black; 
    stroke-width:20px;
    fill:none;
}

main a:not(.noDecoration)[href] {
    text-underline-position: under;
    text-decoration: underline;  
    /* font-weight:bold; */
    @apply text-sky-700 hover:text-sky-900 transition-colors;
}

.beispiele a{
    
}

.taste{
    border: 1px solid #1e2939;
    box-shadow: -3px 3px 0 0 #4a5565;
}

.bob{
    animation: bob 2s infinite cubic-bezier(0.4, 0, 0.6, 1);
}

.flee{
    animation: flee 2s ease-in forwards; 
}

@keyframes flee{
    0%{
        transform: translateX(0);
        scale: 1 1;
        rotate:0deg; 
    }
    9%{ scale: 1 1; }
    10%{
        scale: -1 1;
        /* transform: translateX(50px); */
        transform: translateX(0);
        rotate: -40deg;
    }
    20%{
        /* transform: translateX(80px); */
        transform: translateX(0);
        scale: -1 1;
    }
    80%{
        transform: translateX(-100vw); 
        scale: -1 1;
    }
    100%{
        transform: translateX(-100vw); 
        scale: -1 1;
    }
}

.flee > *, .flee > * > *{
    rotate: 0deg !important;
    transition: rotate .2s ease;
    animation-play-state: paused;
}

.UuuuhEinGeist{
    /* animation: UuuuhEinGeist 10s linear forwards;  */
    animation: UuuuhEinGeist 10s linear forwards; 
    rotate: -22deg;
    clip-path: inset(0);
}

@keyframes UuuuhEinGeist{
    0%{ 
        transform: translate(0, 0); 
    }
    100%{ 
        transform: translate(-25vw, 50vh) 
    }
}
/* @keyframes UuuuhEinGeist{
    0%{ transform: translate(0,0); }
    100%{ transform: translate(100vw, 0 ) }
} */

@keyframes bob {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(50px); }
  100% { transform: translateY(0px); }
}


.headSpin{
    animation: headSpin 10s infinite ease;
}
@keyframes headSpin{
    0%{
        rotate: 3deg;
    }
    50%{
        rotate: -3deg; 
    }
    100%{ 
        rotate: 3deg;
    }
}